<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="LLVM IR SDK"
            id="com.intel.llvm.ireditor.cfg">
      </category>
      <view
            allowMultiple="true"
            category="com.intel.llvm.ireditor.cfg"
            class="com.intel.llvm.ireditor.cfg.views.LlvmCfgView"
            icon="icons/sample.gif"
            id="com.intel.llvm.ireditor.cfg.views.LlvmCfgView"
            name="LLVM Visualizer">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
